{
    "account_phone": "",
    "api_id": 0,
    "api_hash": "",
    "delay": 15,
    "groups": [
        {
            "name": "test",
            "sources": [
                "test"
            ],
            "destinations": [
                "Vladimir"
            ],
            "whitelist": []
        }
    ]
}