{
    "account_phone": "",
    "account_api_id": 0,
    "account_api_hash": "",
    "delay": 15,
    "groups": [
        {
            "name": "test",
            "inputs": [
                "test"
            ],
            "outputs": [
                "Vladimir"
            ],
            "words": []
        }
    ]
}